<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
   <a class="navbar-brand" href="home">ReviewKing</a>
 </div>
 <ul class="nav navbar-nav">
   <li><a href="#">About</a></li>
   <li><a href="#">Contact</a></li>
 </ul>
 <form class="navbar-form navbar-left" action="/home" method="post">
   <div class="form-group">
   <input type="text" class="form-control" name="search" value="">
 </div>
   <button class="btn btn-default" type="submit" >Submit</button>
</form>
</div>
</nav>\
