<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ADMIN_ReviewKing</title>
  </head>
  <body>
    <h1>Hey Admin</h1>
    <a href="/viewUser" role="button">View</a>
    <a href="/addMovies" role="button">Add Movies</a>
  </body>
</html>
