<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReviewKing</title>
  </head>
  <body>
      <h1>SignIn</h1>
      <div class="">
              <form action="/signIn" method="POST">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
                <button type="submit" class="btn btn-dark">SignIn</button>
              </form>
              <a class="" href="/signUp" role="button">SignUp</a>
      </div>
  </body>
</html>
