<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReviewKing</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1>SignUp</h1>
      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <form action="/signUp" method="POST">
                <label for="name">Name</label>
                <input type="String" class="form-control" name="name">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
                <button type="submit" class="btn btn-dark">SignUp</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
