<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReviewKing</title>
  </head>
  <body>
    <h1>List Of Users</h1>
    <% for (let i=0; i<items.length; i++) {%>
      <p><%=items[i].name%></p> 
    <%}%>
  </body>
</html>
